.mstheme
{
	nav-banner-image: url(laybanr.gif);
	separator-image: url(layrule.gif);
	list-image-1: url(laybul1.gif);
	list-image-2: url(laybul2.gif);
	list-image-3: url(laybul3.gif);
	navbutton-horiz-pushed: url(layhsel.gif);
	navbutton-horiz-normal: url(layhbtn.gif);
	navbutton-vert-pushed: url(layvsel.gif);
	navbutton-vert-normal: url(layvbtn.gif);
	navbutton-home-normal: url(layhom.gif);
	navbutton-up-normal: url(layup.gif);
	navbutton-prev-normal: url(laybck.gif);
	navbutton-next-normal: url(laynxt.gif);
}
.mstheme-bannertxt
{
	font-family: georgia, Times New Roman, Times;
	font-size: 6;
	color: rgb(51,0,51);
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxthome
{
	font-family: verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtup
{
	font-family: verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtprev
{
	font-family: verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtnext
{
	font-family: verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
UL
{
	list-style-image: url(laybul1.gif);
}
UL UL
{
	list-style-image: url(laybul2.gif);
}
UL UL UL
{
	list-style-image: url(laybul3.gif);
}